# 1137. N-th Tribonacci Number

The Tribonacci sequence T<sub>n</sub> is defined as follows: 

T<sub>0</sub> = 0, T<sub>1</sub> = 1, T<sub>2</sub> = 1, and T<sub>n+3</sub> = T<sub>n</sub> + T<sub>n+1</sub> + T<sub>n+2</sub> for n >= 0.

Given `n`, return the value of T<sub>n</sub>.

<https://leetcode.com/problems/n-th-tribonacci-number/?envType=daily-question&envId=2024-04-24>

**Constraint:**
* `0 <= n <= 37`
* The answer is guaranteed to fit within a 32-bit integer, ie. <code>answer <= 2<sup>31</sup> - 1</code>.

Example 1:  
> **Input:** n = 4  
> **Output:** 4  
> **Explanation:**  
T_3 = 0 + 1 + 1 = 2  
T_4 = 1 + 1 + 2 = 4

Example 2:  
> **Input:** n = 25  
> **Output:** 1389537

In [1]:
class Solution:
    def tribonacci(self, n: int) -> int:
        record = [0, 1, 1]

        if n <= 2:
            return record[n]
        
        for _ in range(n - 2):
            record.append(record[-1] + record[-2] + record[-3])
        
        return record[-1]
    
    def display(self, n: int) -> None:
        result = self.tribonacci(n)
        print(f"Result: {result}")

In [2]:
# Example 1

n = 4
Solution().display(n)

Result: 4

In [3]:
# Example 2

n = 25
Solution().display(n)

Result: 1389537

**Idea:**  
* Step1: Contruct a list to record the value of each tribonacci value.
* Step2: Expand the record according to the value of `n`.
* Step3: Return the tribonacci value of `n`.

**Time Complexity:** $O(n)$  
<img src="./Images/1137-1.png" width="500">